
<div class="card" align="center">
  <div class="card-body">
    <h3 align="center" class="bg-secondary text-white">Addition Service</h3>
    <form [formGroup]="numberForm" (ngSubmit)="onSubmit()">
            <div class="form-group">

                <label for="name"> First Number:</label><br>
                <input type="number" formControlName="firstNumber" ><br>
            </div>
            <div class="form-group">

                <label for="name"> Second Number:</label><br>
                <input type="number" formControlName="secondNumber"><br><br>
            </div>
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
  </div>
</div>
